/* div {
	background-color: gray;
} */

.navigation {
	background-color: gray;
	color: white;
	text-decoration: none;
	padding: 50px;
	list-style: none;
}

.nav-title {
	font-size: 40px;
	margin: 0;
	color: white;
}

.nav-title-mobile {
	padding-top: 5%;
	margin: 0px;
}

.mobile-title-logo-container {
	background-color: gray;
	color: white;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	padding-right: 6%;
}

.logo-mobile {
	/* text-align: center; */
	margin-left: 0px;
	width: 15%;
}

.menu-button {
	background-color: grey;
	width: 10%;
	/* padding-right: 100%; */
	margin-top: 5%;
	margin-left: 5%;
	float: left;
}

ul {
	display: flex;
	justify-content: space-evenly;
	text-decoration: none;
	list-style: none;
}

.list {
	text-decoration: none;
	list-style: none;
}

.text {
	margin-top: 30px;
}

.logo {
	width: 50%;
}

@media only screen and (max-width: 770px) {
	.navigation {
		padding: 5px;
		margin: 0;
		text-align: center;
	}

	ul {
		display: block;
		padding-left: 0px;
	}

	.nav-title {
		font-size: 30px;
		white-space: nowrap;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	.text {
		display: inline;
		padding: 7px;
	}

	.li-logo {
		text-align: center;
		margin-top: 0px;
		/* width: 300px; */
	}

	.logo {
		width: 50%;
	}
}

@media only screen and (max-width: 770px) {
	.text {
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		text-decoration-line: line-through;
		width: 10px;
	}
}
