.welcome-container {
	background-image: url('https://cdn.merriammusic.com/2016/09/recordn-studio-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.welcome-title {
	text-align: center;
	color: white;
	padding-top: 100px;
	margin-top: 0px;
	font-size: 100px;
}

.link {
	text-decoration: none;
}

.first-line {
	font-size: 20px;
	margin: 0px;
	text-decoration: none;
	color: white;
}

.second-line {
	font-size: 30px;
	margin: 0px;
	text-decoration: none;
	color: white;
}

.third-line {
	font-size: 40px;
	margin: 0px;
	text-decoration: none;
	color: white;
}

.fourth-line {
	font-size: 50px;
	margin: 0px;
	text-decoration: none;
	color: white;
}

.welcome-button-container {
	margin-top: 3%;
	text-align: center;
	/* margin: 0px; */
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	border: 0px;

	font-size: 50px;
	/* padding: 200px; */
	/* border-radius: 20px; */

	margin-right: 32%;
	margin-left: 32%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 20px;
}

.welcome-button-container:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 770px) {
	.welcome-title {
		font-size: 35px;
		padding-top: 200px;
	}

	.welcome-button-container {
		margin-top: 30%;
		margin-left: 20%;
		margin-right: 20%;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.first-line {
		font-size: 10px;
	}

	.second-line {
		font-size: 15px;
	}

	.third-line {
		font-size: 20px;
	}

	.fourth-line {
		font-size: 25px;
	}
}
